.ProductItem {
    width: 240px;

    & img {
        width: 240px;
        height: 240px;
        border-radius: 20px;
        object-fit: cover;

        @media (max-width: 640px) {
            width: 140px;
        }
    }

    &-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 12px;

        @media (max-width: 640px) {
            width: 140px;
            height: 140px;
        }
    }

    &-body figure {
        margin: 0;
    }

    &-body figure img {
        width: 35px;
        height: 35px;
    }

    &-body div p:nth-child(1) {
        font-weight: bold;
        font-size: var(--md);
        margin-top: 0;
        margin-bottom: 4px;
    }

    &-body div p:nth-child(2) {
        font-size: var(--sm);
        margin-top: 0;
        margin-bottom: 0;
        color: var(--very-light-pink);
    }
}